<div id="todo-listing" class="container">

    <div id="todoItems" class="container">
        <table class="table table-hover">
            <tbody data-bind="foreach: ToDos">
                <tr>
                    <td style="width: 15px; vertical-align: middle; padding-right: 0px;"><div class="circle status-active-color" /></td>
                    <td style="width: 300px;"><span data-bind="text: Task" ></span></td>
                    <td style="width: 75px;"><span data-bind="text: DisplayDueDate"></span></td>
                    <td style="width: 75px;"><span data-bind="text: DisplayReminderDate"></span></td>
                    <td style="width: 75px;"><span data-bind="text: Priority.Description"></span></td>
                    <td style="width: 75px;"><span data-bind="text: Category.Description"></span></td>
                    <td style="width: 75px;"><input type="button" class="btn" value="Edit" style="width: 65px;" /></td>
                    <td style="width: 75px;"><input type="button" class="btn" value="Delete" style="width: 65px;" /></td>
                </tr>
            </tbody>
      
        </table>
    </div>
</div>

@section scripts
{
    
    <script type="text/javascript">
        (function () {
            var vm = new ToDo.ViewModels.MainViewModel();

            ko.applyBindings(vm);

        })();
</script>
}
